.Menu {
    min-height: 150px;
}

.Menu a {
    color: white;
    text-decoration: none;
}

.Menu a:hover {
    color: white;
    border-bottom: 2px solid white;
}

#name {
    color: green;
}

.Menu #name:hover {
    border: none;
}